In [15]:
import pandas as pd

df = pd.read_excel("EX-19.xlsx")
df

,ORDER_ID,ORDER_TIME,EXPECTED_DELIVERY,ACTUAL_DELIVERY,NO_OF_PIZZAS,PRICE
0,1,2023-09-29 21:22:57,2023-09-29 21:52:57,2023-09-29 21:52:57,8,59.25
1,2,2023-06-03 19:32:40,2023-06-03 20:02:40,2023-06-03 20:02:40,2,82.56
2,3,2023-03-19 18:14:04,2023-03-19 18:44:04,2023-03-19 18:44:04,5,77.70
3,4,2023-06-21 18:45:00,2023-06-21 19:15:00,2023-06-21 19:15:00,3,71.10
4,5,2023-11-16 20:24:03,2023-11-16 20:54:03,2023-11-16 20:54:03,1,72.74
...,...,...,...,...,...,...
995,996,2023-12-11 07:09:39,2023-12-11 07:39:39,2023-12-11 07:39:39,10,57.59
996,997,2023-12-27 06:15:14,2023-12-27 06:45:14,2023-12-27 06:45:14,3,23.35
997,998,2023-06-18 13:18:19,2023-06-18 13:48:19,2023-06-18 13:48:19,1,61.33
998,999,2023-05-30 12:20:37,2023-05-30 12:50:37,2023-05-30 12:50:37,1,59.14
999,1000,2023-05-15 10:26:11,2023-05-15 10:56:11,2023-05-15 10:56:11,1,21.96

In [17]:
df["ACTUAL_DELIVERY"].isnull().sum()

52

In [16]:


# Convert time columns to datetime
df['ORDER_TIME'] = pd.to_datetime(df['ORDER_TIME'], format='%d-%m-%Y %H:%M')
df['EXPECTED_DELIVERY'] = pd.to_datetime(df['EXPECTED_DELIVERY'], format='%d-%m-%Y %H:%M')
df['ACTUAL_DELIVERY'] = pd.to_datetime(df['ACTUAL_DELIVERY'], format='%d-%m-%Y %H:%M')

# Check if the delivery was delayed (delayed if actual delivery is more than 30 minutes later than expected)
df['is_delayed'] = (df['ACTUAL_DELIVERY'] - df['EXPECTED_DELIVERY']) > pd.Timedelta(minutes=30)

# Extract the month and year for grouping
df['MONTH'] = df['ORDER_TIME'].dt.strftime('%Y-%m')

# Group by month and calculate delayed orders and free pizzas
monthly_stats = df.groupby('MONTH').agg(
    total_orders=('ORDER_ID', 'count'),
    delayed_orders=('is_delayed', 'sum'),
    free_pizzas=('NO_OF_PIZZAS', lambda x: x[df['is_delayed']].sum())
).reset_index()

# Calculate percentage of delayed orders
monthly_stats['delayed_percentage'] = (monthly_stats['delayed_orders'] / monthly_stats['total_orders']) * 100

# Sort by month
monthly_stats = monthly_stats.sort_values(by='MONTH')

# Display the result
print(monthly_stats)

      MONTH  total_orders  delayed_orders  free_pizzas  delayed_percentage
0   2023-01            69               0            0                 0.0
1   2023-02            93               0            0                 0.0
2   2023-03            80               0            0                 0.0
3   2023-04            84               0            0                 0.0
4   2023-05            85               0            0                 0.0
5   2023-06            80               0            0                 0.0
6   2023-07            73               0            0                 0.0
7   2023-08            93               0            0                 0.0
8   2023-09            83               0            0                 0.0
9   2023-10            93               0            0                 0.0
10  2023-11            97               0            0                 0.0
11  2023-12            70               0            0                 0.0